.card-header {
	position: relative;
}

.card-visibility .card-visibility-button {
    content: 'X';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 32px;
	height: 32px;
	margin: 8px;
    border: 0;
    background-color: transparent;
	z-index: 1;
}
.card-visibility.show-body .card-body, .card-visibility.show-body .card-footer {
	display: block;
}

.card-visibility.hide-body .card-body, .card-visibility.hide-body .card-footer {
	display: none;
}
