
table {
    border: 0!important;
}

table th {
    background-color: transparent!important;
    border: 0!important;
    color: #313740!important;
    text-transform: uppercase;
    font-size: 12px;
}

.table-striped tbody tr {
    background-color: rgba(0,0,0,.03);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}