
#app .header{
	grid-area: Header;
}
#app .footer {
	grid-area: Footer;
}

#app .body {
	display: flex;
	flex-direction: row;
	flex: 1;
	grid-area: Body;
}

#app .views {
	padding: 48px;
	width: 100%;
}