
.menu {
	width: 300px;
	background: #f9f9f9;
	padding: 18px 10px;
}

.menu .menu-header {
	padding: 10px 16px;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: flex-start;
	cursor: pointer;
}

.menu .menu-body {
	padding-left: 18px;
}

.menu .link {
	padding: 10px 16px;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: flex-start;
	cursor: pointer;
}