.menu {
	margin-top: -24px;
	padding: 16px;
}

.menu .nav-item {
	padding-left: 16px;
}

.menu .nav-link > div {
	display: none;
}

.menu .nav-link:hover > div {
	display: inline-block !important;
	box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
	transition: all 0.2s ease-in-out;
}

.menu .nav-link > div ul {
	margin-top: -5px;
	display: block !important;
}

.menu .nav-link:hover > div ul {
	box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
	transition: all 0.2s ease-in-out;
	border: 0px;
}

.menu .nav-link:hover > div ul a {
	padding: 12px 16px;
}